/*font-family part
.red {
    color: red;
}

#rogue {
    color: #FF00FF;
    font-weight: bold;
    font-family: cursive;
}


/* the whole page */
/* {
    border: 1px dashed #3a5fcd;
}*/


/* unordered list with url part
li a{
    text-decoration: none;
    font-family: cursive;
}

div p {
    color: #1a237e;
    font-size: 1em;
    font-family: Roboto, 'Roboto Condensed', sans-serif;
}



table img {
    width:100px;
    height:100px;
}

table td {
    border: 1px #70b8ff dashed;

}

a
{
    color: rgba(10, 13, 115, 0.98);
    font-size: 0.8em;
    text-decoration: none;
}


/* ----------------------------------------An existed demo-----------------------------------------------
body {
    background-color: rgba(194, 209, 193, 0.88)
}

h2 {
    font-family: Verdana, cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #acd1b2;
}

img {
    height: 170px;
    width: 170px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px;
    display: block;
    margin: auto;

}

#navbar {
    position: fixed;
    top:10px;
    left:50%;
    margin-left:-254px;
}

#header h2{
    position: relative;
    top: -10px;
    background-color: #3c4543;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div ul{
    list-style-type: none;
    position: fixed;
    margin: -10px;
}

div ul li {
    display: inline;
    border: 2px solid #000000;
    font-family: Futura, Tahoma, sans-serif;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #cc0323
}

#left{
    width: 45%;
    float: left;
}


#right{
    width: 45%;
    float: right;
}

table {
    border: #000000 1px solid;
    background-color: #acd1b2;
    float: right;
    margin-right: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

td {
    height: 75px;
    width: 75px;
}

td img {
    height: 75px;
    width: 75px;
    box-shadow: none;
}

th {
    font-family: Verdana;
    font-size: 1em;
    font-weight: normal;
    color: #3c4543
}

.bottom_left{
    border-bottom-left-radius: 15px;
}

.bottom_right{
    border-bottom-right-radius: 15px;
}

#footer{
    clear: both;
    position: relative;
    bottom: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 75px;
    background-color: #3c4543;
}

.button{
    float:left;
    /*position: relative;
    left: 229px;
    bottom: -20px;
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    height: 50px;
    width: 120px;
    margin: auto;
    text-align: center;

}

.button p{
    position: relative;
    bottom: 10px;
    font-size: 0.8em;
    color: #0a0d73;
    text-align: center;
}

It is Email's style!   A class under footer-->button-->span, Any recommended writing methods?
.bold{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
    color: #ffffff;
}
                                        CSS practice  New exercise*/
body {
    display: -moz-box;
    display: -webkit-box;
    -moz-orient: horizontal;
    -webkit-box-orient: horizontal;
}

