/* blue block part */
/*div {
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    height: 18px;
    text-align: center;
    font-family: Garamond, serif;
}

#p1 {
    display: inline;
    position: relative;
    margin-left: 138px;
}

#p2 {
    display: inline;
    position: relative;
    margin-left: 10px;
}

#p3 {
    display: inline;
    position: relative;
    margin-left: 10px;
}

#div {
    display: inline;
    position: relative;
    margin-left: 70px;
    margin-top: 10px;
}

#title {
    display: inline;
    position: relative;
    margin-left: 50px;
}

#body {
    display: inline;
    position: relative;
    margin-left: 25px;
}

#head {
    display: inline;
    position: relative;
    margin-left: 65px;
}

#html {
    width: 50px;
    position: relative;
    margin-left: 93px;
}

.space {
    opacity: 0;
}

p {
    font-family:Garamond;
    font-size:16px;
}

h3 {
    font-family:cursive;
    color:#36648b;
    text-align:center;
}

span {
    color:#cc0000;
    font-size:24px;
}

#serious {
    font-family: courier;
    color: #cc0000;
}

#intro {
    color: #b83c3a;
}

.standout {
    color: #f7ac5f;
    font-family: Verdana;
}
hey! new day!----------------------------------------------*/
/*div {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid black;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

div p {
    position: relative;
    margin-top: 40px;
    font-size: 12px;
}

.friend {
    border: 2px dashed green;
}

.family {
    border: 2px dashed blue;
}

.enemy {
    border: 2px dashed red;
}

#best_friend {
    border: 4px solid #00C957;
}

#archnemesis {
    border: 4px solid #cc0000;
}

div {
    border-radius: 5px;
}

#header {
    height: 50px;
    background-color: #F38630;
    margin-bottom: 10px;
}

.left {
    height: 300px;
    width: 150px;
    background-color: #A7DBD8;
    float: left;
    margin-bottom: 10px;
}

.right {
    height: 300px;
    width: 450px;
    background-color: #E0E4CC;
    float: right;
    margin-bottom: 10px;
}

#footer {
    height: 50px;
    background-color: #69D2E7;
    /*Add your CSS here!
    clear: both;

}*/



/*  A resume
div {
    border-radius: 5px;
}

#header {
    z-index: 1;
    position: fixed;
    width: 97.5%;
    margin-top: -20px;
    height: 60px;
    background-color: #668284;
    margin-bottom: 10px;
}

#name {
    float:left;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#email{
    float:right;
    margin-right: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

h4 {
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
}

.right p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    font-family: Garamond, serif;
    color: #000000;
}

li {
    list-style-type: square;
}

a:hover {
    font-weight: bold;
}

.left {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 10%;
    height: 400px;
    background-color: #B9D7D9;
    margin-bottom: 10px;
}

.right {
    position: relative;
    float: right;
    margin-top: 50px;
    width: 88%;
    height: 400px;
    background-color: #F4EBC3;
    margin-bottom: 10px;
}

#footer {
    position: relative;
    height: 50px;
    background-color: #668284;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

#footer p {
    position: relative;
    padding-top: 15px;
}

*/


